.fu {
  opacity: 0;
}

.fl {
  opacity: 0;
}

.fr {
  opacity: 0;
}

.fade-up {
  animation: fade-up 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-left {
  animation: fade-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-right {
  animation: fade-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
